﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US" prefix="og: http://ogp.me/ns#">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US" prefix="og: http://ogp.me/ns#">
<!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta name="p:domain_verify" content="d16dc14f5dbd5b0651bd5e344e7eb957" />
    <link rel="shortcut icon" href="https://weareisland.com/isl/themes/island/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <script>
var cb = function() {
    var l = document.createElement('link'); l.rel = 'stylesheet';
    l.href = '//fast.fonts.net/cssapi/3f742c30-bc86-4a73-a84d-565f23623f3c.css';
    var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame ||
webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
    </script>
    

    <!-- This site is optimized with the Yoast SEO plugin v7.5.1 - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Website Design + Creative · Island Collective · Saskatoon, SK</title>
    <meta name="description" content="Island Website Design + Creative provides award winning website design, marketing, and graphic design services. Our focus is quality and customer service." />
    <link rel="canonical" href="https://weareisland.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Website Design + Creative · Island Collective · Saskatoon, SK" />
    <meta property="og:description" content="Island Website Design + Creative provides award winning website design, marketing, and graphic design services. Our focus is quality and customer service." />
    <meta property="og:url" content="https://weareisland.com/" />
    <meta property="og:site_name" content="ISLAND" />
    
    <!-- / Yoast SEO plugin. -->

    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="ISLAND &raquo; Home Comments Feed" href="https://weareisland.com/home/feed/" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/weareisland.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.5"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='island-css' href='https://weareisland.com/isl/themes/island/css/main.css?ver=2.92' type='text/css' media='all' />
    <script type='text/javascript' src='https://weareisland.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
    <script type='text/javascript' src='https://weareisland.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
    <script type='text/javascript' src='https://weareisland.com/isl/themes/island/js/dist/all.js?ver=2.92'></script>
    <link rel='https://api.w.org/' href='https://weareisland.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://weareisland.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://weareisland.com/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.9.5" />
    <link rel='shortlink' href='https://weareisland.com/' />
    <link rel="alternate" type="application/json+oembed" href="https://weareisland.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fweareisland.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://weareisland.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fweareisland.com%2F&#038;format=xml" />
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="pingback" href="https://weareisland.com/xmlrpc.php">
</head>

<body class="home page-template-default page page-id-5">
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54089081-1', 'auto');
  ga('send', 'pageview');

    </script>
    <header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-2 col-xs-offset-1 hidden-xs">
                    <a href="/" class="home-link target">
                        <img class="logo dark img-responsive" src="/isl/themes/island/img/logo-island-website-design.png" alt="ISLAND Collective Website Design" />
                        <img class="logo light img-responsive" src="/isl/themes/island/img/logo-island-website-design-white.png" alt="ISLAND Collective Website Design" />
                    </a>
                </div>
                <div class="col-xs-2 col-xs-offset-1 visible-xs">
                    <a href="/" class="home-link target">
                        <img class="logo dark img-responsive" src="/isl/themes/island/img/m-logo-island-website-design.png" alt="ISLAND Collective Website Design" />
                        <img class="logo light img-responsive" src="/isl/themes/island/img/m-logo-island-website-design-white.png" alt="ISLAND Collective Website Design" />
                    </a>
                </div>
                <div class="col-xs-2 col-xs-offset-6 visible-xs menu-toggle-container">
                    <a href="#menu" class="menu-toggle">
                        <img src="/isl/themes/island/img/icon-plus.png" id="menu-toggle">
                    </a>
                </div>
                <div id="menu" class="col-xs-8 mobile-menu">
                    <div class="menu-main-container">
                        <ul id="menu-main" class="main-menu target">
                            <li id="menu-item-1405" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1405"><a href="https://weareisland.com/about-island-website-design/">Présentation</a></li>
                            <li id="menu-item-216" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-216"><a href="https://weareisland.com/website-and-marketing-portfolio/">Qui sommes-nous?</a></li>
                            <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="https://weareisland.com/website-design-and-marketing/">Aide</a></li>
                            <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="https://weareisland.com/journal/">Connexion</a></li>
                            <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18"><a href="https://weareisland.com/contact/">Inscription</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="banner">
        <div class="full-featured">
            <img class="hidden-xs" id="banner-bg" src=https://weareisland.com/isl/uploads/2016/03/belize-10-1300x887.jpg>        <img class="visible-xs" id="m-banner-bg" src=https://weareisland.com/isl/uploads/2016/03/belize-10-800x400.jpg>                    <h1 class="post-title dark" id="#title">Web Design + Creative</h1>
      
        </div>
    </section>
    <div class="isl-bg">
        <section id="content" style="margin-bottom: 40px;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <h2 class="small-title">Designing Websites Since 2011</h2>
                        <p class="description">Island Collective is a website design and digital marketing firm focused on solving company’s business goals through elegant, custom design. We offer marketing strategy, website design, print design, and app development for businesses of all sizes.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                        <div class="column-content first">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fluid image-container">
            <div class="row">
                <div class="col-md-4 col-md-offset-6 col-sm-5 col-sm-offset-1">
                    <div >
                        <h3>Journal</h3>
                        <p style="margin-bottom: 50px;">
                            Some of our thoughts, lessons learned, and great tools to help you with your website, brand and digital marketing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 bottom-images">
                    <a class="profile " href="https://weareisland.com/entrepreneur-insights-blue-moose-media-mar-7/"
                       >
                        <img src="https://weareisland.com/isl/uploads/2018/03/chamber-550x306.jpg" alt="Entrepreneur Insights &#8211; Blue Moose media &#8211; Mar. 7">
                        <div class="name">Entrepreneur Insights &#8211; Blue Moose media &#8211; Mar. 7</div>
                        <div class="bio-mask">
                            <div class="bio">
                                <p>Join the Saskatoon Chamber for &#8220;Chamber on Tap&#8221; &#8211; outstanding businesspeople in Saskatoon share their stories in a candid, casual event. This time our Ideas Inc neighbours and owners of Blue Moose&#8230;</p>
                            </div>
                        </div>
                    </a>
                    <a class="profile " href="https://weareisland.com/entrepreneur-networking-march-2/"
                       >
                        <img src="https://weareisland.com/isl/uploads/2018/03/2018-March-First-Friday-1-550x390.jpg" alt="Entrepreneur Networking &#8211; March 2">
                        <div class="name">Entrepreneur Networking &#8211; March 2</div>
                        <div class="bio-mask">
                            <div class="bio">
                                <p>If it&#8217;s a bit of a slow week, why not wrap things up with a networking event. Come meet some fellow entrepreneurs at Sype&#8217;s March First Friday event tomorrow from 4:30&#8230;</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 bottom-images">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-2 col-sm-5 col-sm-offset-1">
                    <div style="padding-bottom 20px;"
                         >
                        <h3 style="margin-top: 60px;">Portfolio</h3>
                        <p style="margin-bottom: 50px;">
                            Our work consists of website design &amp; development, mobile apps, SEO, branding &amp; identity, and marketing.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 bottom-images">
                    <a class="profile "
                       
                       href="https://weareisland.com/portfolio/ksa-group-architecture/">
                        <img src="https://weareisland.com/isl/uploads/2017/03/MCN5999-1-550x390.jpg" alt="KSA Group Architecture">
                        <span class="name">KSA Group Architecture</span>
                    </a>

                    <a class="profile "
                       
                       href="https://weareisland.com/portfolio/childrens-hospital-foundation/">
                        <img src="https://weareisland.com/isl/uploads/2015/09/CHF-case-photo-1-550x390.jpg" alt="Children&#8217;s Hospital Foundation">
                        <span class="name">Children&#8217;s Hospital Foundation</span>
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 bottom-images">
                    <a class="profile "
                       
                       href="https://weareisland.com/portfolio/wanuskewin-heritage-park/">
                        <img src="https://weareisland.com/isl/uploads/2015/06/WAN_image_area-550x390.jpg" alt="Wanuskewin Heritage Park">
                        <span class="name">Wanuskewin Heritage Park</span>
                    </a>

                    <a class="profile "
                       
                       href="https://weareisland.com/portfolio/chief-whitecap-waterway/">
                        <img src="https://weareisland.com/isl/uploads/2015/06/chiefwhitecap_1100x780-550x390.jpg" alt="Chief Whitecap Waterway">
                        <span class="name">Chief Whitecap Waterway</span>
                    </a>

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 bottom-images">
                </div>
            </div>
        </div>

        <div class="cta">
            <div class="container-fluid">
                <div class="row footer-padding">
                    <div class="col-md-6 col-md-offset-3 center">
                        <h2>Interested in Working with Us?</h2>
                        <a href="/contact/" class="set-forth">Get in Touch</a>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2 col-md-2 col-md-offset-1 goright">
                        <ul class="socialize">
                            <li><a href="https://twitter.com/weareisland" rel="external"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://www.facebook.com/weareisland" rel="external"><i class="fa fa-facebook-square"></i></a></li>
                            <li><a href="https://www.google.com/+Weareislandco" rel="external"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="http://instagram.com/weareisland" rel="external"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.pinterest.com/islandsaskatoon/" rel="external"><i class="fa fa-pinterest"></i></a></li>

                        </ul>
                    </div>
                    <div class="col-sm-8 col-md-6 address">
                        <span id="addr_street">120 Sonnenschein Way</span> <span id="addr_city">Saskatoon,&nbsp;SK</span> &nbsp;<a href="tel:13064003627" id="addr_number">1.306.400.3627</a>
                    </div>
                    <div class="col-sm-2 col-md-3 no" id="print-no">
                    </div>
                </div>
            </div>
        </footer>
    </div><!-- End isl-bg -->

    <script type='text/javascript'>
/* <![CDATA[ */
var countVars = {"disqusShortname":"islandcollective"};
/* ]]> */
    </script>
    <script type='text/javascript' src='https://weareisland.com/isl/plugins/disqus-comment-system/public/js/comment_count.js?ver=3.0.15'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var embedVars = {"disqusConfig":{"integration":"wordpress 3.0.15"},"disqusIdentifier":"5 http:\/\/weareisland.com\/?page_id=5","disqusShortname":"islandcollective","disqusTitle":"Home","disqusUrl":"https:\/\/weareisland.com\/","postId":"5"};
/* ]]> */
    </script>
    <script type='text/javascript' src='https://weareisland.com/isl/plugins/disqus-comment-system/public/js/comment_embed.js?ver=3.0.15'></script>
    <script type='text/javascript' src='https://weareisland.com/wp-includes/js/wp-embed.min.js?ver=4.9.5'></script>


    <script src="/isl/themes/island/js/dist/tk.js" async defer></script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/57a0e97fc061b61520192953/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
    </script>
    <!--End of Tawk.to Script-->
</body>
</html>



<!-- Page generated by LiteSpeed Cache 2.2.5 on 2018-05-18 23:30:48 -->
